<app-page-inner>
  <div class="card">
    <div class="card-body">
      <ng-container
        *ngIf="{
          delete: canDelete$ | async,
          update: canUpdate$ | async
        } as authorization"
      >
        <app-product-details
          [authorization]="authorization"
          [product]="productFull$ | async"
          (update)="onUpdate()"
          (delete)="onDelete()"
        ></app-product-details>
        <app-file-upload></app-file-upload>
      </ng-container>
    </div>
  </div>
</app-page-inner>
